<h3>Hi there, I don't think I know you yet. Can I have your name?</h3>

<form action="/new_player" method="POST">
  <div class="input-group-215">
    <input type="text" class="form-control" name="player_name" maxlength="10">
      <span class="input-group-btn">
        <input class="btn btn-default" type="submit" value="Submit">
      </span>
  </div>
</form>
