<h3><%= "#{session[:player_name]}, you have $#{session[:player_money]}, how much would you like to bet?" %></h3><br>
<p>You can bet anywhere from $1 to $<%="#{session[:player_money]}"%></p>

<form action="/game" method="POST">
  <div class="input-group-215">
    <span class="input-group-addon">$</span>
      <input type="number" min="1" max="<%=session[:player_money]%>" class="form-control" name="bet">
        <span class="input-group-btn">
          <input class="btn btn-default" type="submit" value="bet">
        </span>
  </div>
</form>